<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [6]:
pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.44
    Uninstalling SQLAlchemy-2.0.44:
      Successfully uninstalled SQLAlchemy-2.0.44
Successfully installed sqlalchemy-1.3.9
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\kumri\anaconda3\Lib\site-packages\~~lalchemy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aext-project-filebrowser-server 4.1.0 requires sqlalchemy>=2.0.29, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

In [7]:
!pip install --upgrade sqlalchemy anaconda-cloud-auth

Requirement already satisfied: sqlalchemy in c:\users\kumri\anaconda3\lib\site-packages (1.3.9)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: anaconda-cloud-auth in c:\users\kumri\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: greenlet>=1 in c:\users\kumri\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kumri\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: anaconda-cli-base>=0.4.0 in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (0.5.2)
Requirement already satisfied: cryptography>=3.4.0 in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (43.0.0)
Requirement already satisfied: keyring in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (24.3.1)
Requirement already satisfied: pkce in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (1.0.3)
Requirement already satisfied: pydantic in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (2.8.2)
Requirement already satisfied: pyjwt in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (2.8.0)
Requirement already satisfied: python-dotenv in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (0.21.0)
Requirement already satisfied: requests in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (2.32.3)
Requirement already satisfied: semver<4 in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cloud-auth) (3.0.2)
Requirement already satisfied: click in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (8.1.7)
Requirement already satisfied: pydantic-settings>=2.3 in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (2.6.1)
Requirement already satisfied: readchar in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (4.0.5)
Requirement already satisfied: rich in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (13.7.1)
Requirement already satisfied: tomli in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (2.0.1)
Requirement already satisfied: typer in c:\users\kumri\anaconda3\lib\site-packages (from anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (0.9.0)
Requirement already satisfied: cffi>=1.12 in c:\users\kumri\anaconda3\lib\site-packages (from cryptography>=3.4.0->anaconda-cloud-auth) (1.17.1)
Requirement already satisfied: jaraco.classes in c:\users\kumri\anaconda3\lib\site-packages (from keyring->anaconda-cloud-auth) (3.2.1)
Requirement already satisfied: pywin32-ctypes>=0.2.0 in c:\users\kumri\anaconda3\lib\site-packages (from keyring->anaconda-cloud-auth) (0.2.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\kumri\anaconda3\lib\site-packages (from pydantic->anaconda-cloud-auth) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\kumri\anaconda3\lib\site-packages (from pydantic->anaconda-cloud-auth) (2.20.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kumri\anaconda3\lib\site-packages (from requests->anaconda-cloud-auth) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kumri\anaconda3\lib\site-packages (from requests->anaconda-cloud-auth) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kumri\anaconda3\lib\site-packages (from requests->anaconda-cloud-auth) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kumri\anaconda3\lib\site-packages (from requests->anaconda-cloud-auth) (2025.4.26)
Requirement already satisfied: pycparser in c:\users\kumri\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.4.0->anaconda-cloud-auth) (2.21)
Requirement already satisfied: colorama in c:\users\kumri\anaconda3\lib\site-packages (from click->anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (0.4.6)
Requirement already satisfied: more-itertools in c:\users\kumri\anaconda3\lib\site-packages (from jaraco.classes->keyring->anaconda-cloud-auth) (10.3.0)
Requirement already satisfied: setuptools>=41.0 in c:\users\kumri\anaconda3\lib\site-packages (from readchar->anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (75.1.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\kumri\anaconda3\lib\site-packages (from rich->anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\kumri\anaconda3\lib\site-packages (from rich->anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\kumri\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->anaconda-cli-base>=0.4.0->anaconda-cloud-auth) (0.1.0)
Using cached sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.44

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [9]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\kumri\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\kumri\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kumri\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\kumri\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\kumri\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\kumri\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\kumri\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\kumri\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in c:\users\kumri\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\kumri\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\kumri\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\kumri\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet>=1 in c:\users\kumri\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kumri\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\kumri\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\kumri\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\kumri\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\kumri\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\kumri\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [10]:
%load_ext sql

In [11]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

!pip install -q pandas

In [12]:
%sql sqlite:///my_data1.db

In [13]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [15]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [16]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [20]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [22]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS TOTAL_PAYLOAD_MASS FROM SPACEXTABLE WHERE "Customer" LIKE '%NASA (CRS)%'

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [24]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS AVERAGE_PAYLOAD_MASS FROM SPACEXTABLE WHERE "Booster_Version" LIKE '%F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [26]:
%sql SELECT DISTINCT "Landing_Outcome" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [27]:
%sql SELECT MIN("Date") AS First_Successful_Ground_Pad_Landing FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE '%success (ground pad)%'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE '%success (drone ship)%' AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [31]:
#%sql SELECT "Landing_Outcome", COUNT(*) FROM SPACEXTABLE GROUP BY "Landing_Outcome";

%sql SELECT CASE WHEN "Landing_Outcome" LIKE '%Success%' THEN 'Successful Missions' WHEN "Landing_Outcome" LIKE '%Failure%' THEN 'Failed Missions' ELSE 'Other' END AS Outcome_Category,COUNT(*) AS TOTAL FROM SPACEXTABLE GROUP BY Outcome_Category;

 * sqlite:///my_data1.db
Done.

[('Failed Missions', 10), ('Other', 30), ('Successful Missions', 61)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [33]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [54]:
%sql SELECT substr(Date,6,2) AS Month, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTABLE WHERE substr(Date,0,5) = '2015' AND Landing_Outcome LIKE '%Failure (Drone ship)%';

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [60]:
%sql SELECT Landing_Outcome,COUNT(*) AS Outcome_Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>